<form novalidate id="{{ form.vars.id }}" method="post" {{ form_enctype(form) }} action="{{ path('search_form') }}" data-ajax data-loader="#search_results" data-loader-type="overlay">

    <div class="row-fluid">
        <div class="span2">
            {{ form_row(form.lookingFor, {'attr':{'class':'input input-small'}}) }}
        </div>
        <div class="span4">
            {{ form_row(form.city, {'attr':{'class':'input input-xlarge'}}) }}
        </div>
        <div class="span4 search-second-half">
            {{ form_label(form.lookingAgedFrom, "Aged between:") }}
            <div>
            {{ form_widget(form.lookingAgedFrom, {'attr':{'class':'input input-small'}}) }}
                —
            {{ form_widget(form.lookingAgedTo, {'attr':{'class':'input input-small'}}) }}
            </div>
            <div>
                {{ form_errors(form.lookingAgedFrom) }}
                {{ form_errors(form.lookingAgedTo) }}
            </div>
        </div>
        <div class="span2">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary input input-block-level">Apply</button>
        </div>
    </div>
    {{ form_rest(form) }}
</form>