<form id="{{ form.vars.id }}" class="form-horizontal" novalidate action="{{ path('account_edit_locale') }}" {{ form_enctype(form) }} method="post" data-ajax>

    {{ form_errors(form) }}

    {{ form_row(form.locale) }}

    {{ form_rest(form) }}

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn" href="{{ path('account_overview') }}" data-ajax>Cancel</a>
        </div>
    </div>
</form>
