{% form_theme form ':FormTheme:user_register.html.twig' %}

<form novalidate id="{{ form.vars.id }}" class="register-form" action="{{ path('register') }}" {{ form_enctype(form) }} method="post" data-ajax data-modal>

    {{ form_errors(form) }}
    {{ form_row(form.email, {attr:{class:'input-xlarge', autocomplete:'off' }})}}
    {{ form_row(form.plainPassword, {attr:{class:'input-xlarge'} }) }}
    {{ form_row(form.profile.birthday, {month:{attr:{class:'input-small'} } }) }}
    {{ form_row(form.name, {attr:{class:'input-xlarge'} }) }}
    {{ form_row(form.profile.gender, {}) }}
    {{ form_row(form.profile.city, {attr:{class:'input-xlarge'} }) }}

    {{ form_rest(form) }}

    <button type="submit" class="btn">{{ 'form.register.submit'|trans }}</button>
</form>
