{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
<div>
    <div class="navbar navbar-fixed-top">
        <div class="container">

            <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a data-ajax data-loader="#body" data-loader-type="overlay" href="{{ path('home') }}" class="navbar-brand">{{ site_name }}</a>

            <div class="nav-collapse collapse">

                <ul class="nav">
                    {% if app.user %}
                        <li class="{{ route == 'play' ? 'active' : '' }}"><a data-ajax data-loader="#body" data-loader-type="overlay" href="{{ path('play') }}"><span class="glyphicon glyphicon-star"></span> Play</a></li>
                        <li class="{{ route == 'search' ? 'active' : '' }}"><a data-ajax data-loader="#body" data-loader-type="overlay" href="{{ path('search') }}"><span class="glyphicon glyphicon-globe"></span> Search</a></li>
                        <li class="{{ app.user and route in ['profile','profile_pictures'] and route_params.id == app.user.profile.id ? 'active' : '' }}"><a data-ajax data-loader="#body" data-loader-type="overlay" href="{{ path('profile', {'id':app.user.profile.id}) }}"><span class="glyphicon glyphicon-home"></span> Profile</a></li>
                    {% else %}
                        <li class="{{ route == 'register' ? 'active' }}"><a href="{{ path('register') }}">Join us now!</a></li>
                    {% endif %}
                </ul>

                {% if app.user %}
                <ul class="nav pull-right">
                    <li>
                        <a id="buy-credits-top" class="" href="{{ path('payment') }}" data-ajax><span class="badge badge-info">0</span> credits</a>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li id="account-edit">
                                <a href="{{ path('account_overview') }}" data-ajax data-loader="#body" data-loader-type="overlay">
                                    {{ profile_picture(app.user.profile, 'thumbnail', {'class':'user-picture'}) }}
                                    <div class="summary">
                                        <div class="user-name">{{ app.user.name }}</div>
                                        <small class="link">Account settings</small>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="" data-ajax>Privacy settings</a></li>
                            <li><a href="" data-ajax>Notifications</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('info_faq') }}" data-ajax>Help</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ logout_url(main_firewall_name) }}" data-ajax>Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endif %}

        </div>

    </div>
</div>
