{% extends '::base.html.twig' %}

{% block body %}

    {% include ':Segment:navbar_top.html.twig' with {'active': (own_profile ? 'home' : false)} %}

    <div class="container main">
        <h1>
            {{ subject.name }}
            <small>
                {% if subject.profile.age %}
                    {{ subject.profile.age }}
                {% endif %}
                {% if subject.profile.city %}
                    , {{ subject.profile.city.name }}
                {% endif %}
            </small>
        </h1>
        <div class="row">
            <div class="span9">
                <div class="row-fluid">
                    <div class="span4">
                        <a href="{{ path('account_edit_picture') }}" data-ajax data-modal>
                        {{ user_picture(user) }}
                        </a>
                    </div>
                    <div class="span8">
                        <div data-pjax-container="profile_page">
                            {% block profile_page %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a data-ajax href="#">Recent visitors <span class="badge pull-right"">2</span>
                        <div class="clearfix"></div>
                    </a></li>
                    <li><a data-ajax href="#">Who likes me <span class="badge pull-right"">2</span>
                        <div class="clearfix"></div>
                    </a></li>
                    <li><a data-ajax href="#">Who I like <span class="badge-empty pull-right">0</span>

                        <div class="clearfix"></div>
                    </a></li>
                    <li><a data-ajax href="#">Mutual attractions <span class="badge pull-right"">2</span>
                        <div class="clearfix"></div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}