{% extends ':Profile:layout.html.twig' %}

{% block title %}{{ profile.user.name }} | Pictures{% endblock %}

{% block profile_page %}

    {% include '::flash_messages.html.twig' %}

    {% include ':Profile:tabs.html.twig' %}

    <fieldset>
        <legend>
            Profile photos
            <span class="badge badge-info">{{ count_profile_pictures(profile) }}</span>
        </legend>
        <a href="{{ path('picture_add',{'type':'profile','id':profile.id}) }}" data-ajax data-modal class="btn btn-small pull-right"><i class="icon-upload"></i> Upload</a>
        {% if has_profile_pictures(profile) %}

        {% else %}
            <p>
                <i class="icon-info-sign"></i>
                {% if own_profile %}
                    You do not have any profile photos yet.
                {% else %}
                    {{ "%name% does not have any profile photos yet."|trans({'%name%':profile.user.name}) }}
                {% endif %}
            </p>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>
            Public photos
            <span class="badge badge-info">{{ count_public_pictures(profile) }}</span>
        </legend>
        <a href="{{ path('picture_add',{'type':'public','id':profile.id}) }}" data-ajax data-modal class="btn btn-small pull-right"><i class="icon-upload"></i> Upload</a>
        {% if has_public_pictures(profile) %}

        {% else %}
            <p>
                <i class="icon-info-sign"></i>
                {% if own_profile %}
                    You do not have any public photos yet.
                {% else %}
                    {{ "%name% does not have any public photos yet."|trans({'%name%':profile.user.name}) }}
                {% endif %}
            </p>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>
            Private photos
            <span class="badge badge-info">{{ count_private_pictures(profile) }}</span>
        </legend>
        <a href="{{ path('picture_add',{'type':'private','id':profile.id}) }}" data-ajax data-modal class="btn btn-small pull-right"><i class="icon-upload"></i> Upload</a>
        {% if has_private_pictures(profile) %}

        {% else %}
            <p>
                <i class="icon-info-sign"></i>
                {% if own_profile %}
                    You do not have any private photos yet.
                {% else %}
                    {{ "%name% does not have any private photos yet."|trans({'%name%':profile.user.name}) }}
                {% endif %}
            </p>
        {% endif %}
    </fieldset>

{% endblock %}
