<div><div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">{{ site_name }}</a>

            <ul class="nav">
                <li class="{{ active == 'play' ? 'active' : '' }}"><a data-ajax href="{{ path('play') }}"><i class="icon-star"></i> Play</a></li>
                <li class="{{ active == 'search' ? 'active' : '' }}"><a data-ajax href="{{ path('search') }}"><i class="icon-globe"></i> Search</a></li>
                <li class="{{ active == 'home' ? 'active' : '' }}"><a data-ajax href="{{ path('front') }}"><i class="icon-home"></i> Profile</a></li>
            </ul>

            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="account-edit">
                        <a href="{{ path('account_overview') }}" data-ajax>
                            {% media user_picture(user), 'thumbnail' with {'title':'','class':'user-picture'} %}
                            <div class="summary">
                                <div class="user-name">{{ user.name }}</div>
                                <small class="link">Account settings</small>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="" data-ajax>Privacy settings</a></li>
                    <li><a href="" data-ajax>Notifications</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('info_faq') }}" data-ajax>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ logout_url(main_firewall_name) }}" data-ajax>Log out</a></li>
                </ul>
            </div>
            <div class="divider-vertical pull-right"></div>
            <div class=" pull-right">
                <a id="buy-credits-top" class=" btn btn-mini" href="{{ path('payment') }}" data-ajax><span class="badge badge-info">0</span> credits</a>
            </div>
        </div>
    </div>
</div></div>