<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ block('title') }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('bootstrap/less/bootstrap.less') }}">
    <link rel="stylesheet" href="{{ asset('less/style.less') }}">
    <link rel="stylesheet" href="{{ asset('bundles/briareoschat/css/chat.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/kurumimain/css/bootstrap-fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/kurumimain/css/bootstrap-modal.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

    <script src="{{ asset('bootstrap/js/bootstrap-typeahead.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-transition.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-tab.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-popover.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-modal.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-collapse.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-carousel.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-button.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-alert.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-affix.js') }}"></script>
    <script src="{{ asset('bundles/briareosajax/js/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/briareosajax/js/jquery.history.js') }}"></script>
    <script src="{{ asset('bundles/briareosajax/js/ajax.js') }}"></script>
    <script src="{{ asset('bundles/briareosnodejs/js/nodejs.js') }}"></script>
    <script src="{{ asset('bundles/briareoschat/js/chat.js') }}"></script>
    <script src="{{ asset('bundles/kurumimain/js/bootstrap-fileupload.js') }}"></script>
    <script src="{{ asset('bundles/kurumimain/js/bootstrap-modal.js') }}"></script>
    <script src="{{ asset('bundles/kurumimain/js/bootstrap-modalmanager.js') }}"></script>
    <script src="{{ socket_io_resource() }}"></script>
    <script src="{{ asset('libraries/wookmark/jquery.wookmark.js') }}"></script>
    <script src="{{ asset('js/core.js') }}"></script>

    <script>
        $(function () {
            var settings =
            $.each({{ javascript_settings()|json_encode|raw }}, function (index, javascriptSettings) {
                window.setSettings(javascriptSettings.name, javascriptSettings.settings, $('body'));
            });
        });
    </script>
</head>
<body>
<div data-pjax-container="body" id="body" class="page-container">
        {{ block('body') }}
</div>
</body>
</html>
