<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ block('title') }}</title>

    {# Pjax IE fix#}
    <script type="text/javascript">

    </script>

    {# jQuery #}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

    {# Bootstrap JS #}
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>

    {# Ajax JS #}
    <script src="{{ asset('bundles/briareosajax/js/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/briareosajax/js/jquery.history.js') }}"></script>
    <script src="{{ asset('bundles/briareosajax/js/ajax.js') }}"></script>

    {# Bootstrap CSS #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css">

    {# Nodejs and chat CSS #}
    <script src="{{ asset('bundles/briareosnodejs/js/nodejs.js') }}"></script>
    <script src="{{ asset('bundles/briareoschat/js/chat.js') }}"></script>

    {# Page CSS #}
    <link rel="stylesheet" href="//symfony.servehttp.com:1337/less/style.less">

    {# Socket.IO #}
    <script type="text/javascript" src="//{{ nodejs.host }}:{{ nodejs.port }}{{ nodejs.resource }}/socket.io.js"></script>

    {# Chat CSS #}
    <link rel="stylesheet" href="{{ asset('bundles/briareoschat/css/chat.css') }}">

    {# Page JS #}
    <script src="{{ asset('js/core.js') }}"></script>

    {# JS settings loader #}
    <script>
        $(function () {
            $.each({{ javascript_settings()|json_encode|raw }}, function (index, javascriptSettings) {
                window.setSettings(javascriptSettings.name, javascriptSettings.settings, $('body'));
            });
        });
    </script>
</head>
<body>
<div data-pjax-container="body">
    {{ block('body') }}
</div>
</body>
</html>
