{# Uses Twitter Bootstrap classes to nicely style forms #}
{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
{% spaceless %}
<div class="control-group{% if errors|length %} error{% endif %}">
    {{ form_label(form, label|default(null)) }}
    <div class="controls">
        {{ form_widget(form, { 'attr' : attr|default({}) }) }}
        {{ form_errors(form) }}
        {% if help is defined %}
        <p class="help-block">{{ help }}</p>
        {% endif %}
    </div>
</div>
{% endspaceless %}
{% endblock field_row %}

{% block form_errors %}
{% spaceless %}
{% if compound %}
{# form code #}
{% else %}
{# field code #}
{% if errors|length > 0 %}
<ul class="error form-error" data-for="{{ id }}">
    {% for error in errors %}
    <li class="help-inline">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endspaceless %}
{% endblock form_errors %}
