<!DOCTYPE html>
<html>
<head>
    {# Required on all pages #}
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>

    {# jQuery #}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//{{ nodejs.host }}:{{ nodejs.port }}{{ nodejs.resource }}/socket.io.js"></script>
    {% javascripts
      'bootstrap/js/bootstrap-typeahead.js'
      'bootstrap/js/bootstrap-dropdown.js'
      'bootstrap/js/bootstrap-button.js'
      'bootstrap/js/bootstrap-modal.js'
      '@BriareosAjaxBundle/Resources/public/js/jquery.form.js'
      '@BriareosAjaxBundle/Resources/public/js/jquery.ba-bbq.js'
      '@BriareosAjaxBundle/Resources/public/js/jquery.bbq.pjax.js'
      '@BriareosAjaxBundle/Resources/public/js/ajax.js'
      '@BriareosNodejsBundle/Resources/public/js/nodejs.js'
      '@BriareosChatBundle/Resources/public/js/chat.js'
      filter='?yui_js'
      output='js-compiled/home-page.js'
     %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% import 'BriareosChatBundle:Chat:chat_template.html.twig' as chat %}
    <script type="text/javascript">
        $(document).ready(function () {
            var LocalNodejs = new Nodejs('{{ nodejs_auth_token(app.request.session, app.security.getToken().getUser()) }}', {
                secure:false,
                host:'{{ nodejs.host }}',
                port:{{ nodejs.port }},
                resource:'{{ nodejs.resource }}',
                connectTimeout:{{ nodejs.connect_timeout }},
                contentTokens:''
            });
            LocalNodejs.connect();

            var LocalChat = new Chat({
                container:'body',
                nodejs:LocalNodejs,
                tpl:{
                    status:'{{ chat.status() }}',
                    user:'{{ chat.user() }}',
                    window:'{{ chat.window() }}',
                    message:'{{ chat.message() }}',
                    messages:'{{ chat.messages() }}',
                    chat:'{{ chat.chat() }}'
                },
                url:{
                    cache:'{{ path('briareos_chat_cache') }}',
                    activate:'{{ path('briareos_chat_activate') }}',
                    close:'{{ path('briareos_chat_close') }}',
                    send:'{{ path('briareos_chat_send') }}',
                    ping:'{{ path('briareos_chat_ping') }}'
                }
            });
            LocalChat.initialize();
        });
    </script>


    {# Twitter bootstrap #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//symfony.servehttp.com:1337/bootstrap/less/bootstrap.less">
    <link rel="stylesheet" href="//symfony.servehttp.com:1337/bootstrap/less/responsive.less">

    <link rel="stylesheet" href="{{ asset('bundles/briareoschat/css/chat.css') }}">
    <link rel="stylesheet" href="//symfony.servehttp.com:1337/less/home-page.less">

</head>
<body>
<div id="body">
    {{ block('body') }}
</div>
</body>
</html>
