{% spaceless %}
    <div class="btn-group">
        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
            {{ locale_name(app.request.locale, app.request.locale) }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% for locale in enabled_locales %}
                <li class="{{ locale == app.request.locale ? 'active' : '' }}">
                    <a href="{{ path('switch_locale', {'locale':locale, 'token':csrf_token('switch_locale')}) }}" data-ajax title="{{ locale_name(locale, app.request.locale) }}">
                        {{ locale_name(locale, locale) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endspaceless %}
