{% block field_row %}
{% spaceless %}
{% set field_row_classes = ['control-group'] %}
{% if errors|length > 0 %}
{% set field_row_classes = field_row_classes|merge(['error']) %}
{% endif %}

<div class="{{ field_row_classes|join(' ') }}">
    {{ form_label(form, label|default(null)) }}
    <div class="controls">
        {{ form_widget(form, { 'attr' : attr|default({}) }) }}
        {{ form_errors(form) }}
        {% if help is defined %}
        <p class="help-block">{{ help }}</p>
        {% endif %}
    </div>
</div>
{% endspaceless %}
{% endblock field_row %}

{% block _user_register_profile_birthday_widget %}
{% spaceless %}
{% if widget == 'single_text' %}
{{ block('form_widget_simple') }}
{% else %}
<div {{ block('widget_container_attributes') }}>
    {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, {attr:{class:'input-small'} }),
                '{{ month }}': form_widget(form.month, {attr:{class:'input-small'} }),
                '{{ day }}':   form_widget(form.day, {attr:{class:'input-small'} }),
            })|raw }}
</div>
{% endif %}
{% endspaceless %}
{% endblock _user_register_profile_birthday_widget %}

{% block form_errors %}
{% spaceless %}
{% if compound %}
{# form code #}
{% else %}
{# field code #}
{% if errors|length > 0 %}
<div class="error" data-for="{{ id }}">
    {% for error in errors %}
    <span class="help-inline">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
    {% endfor %}
</div>
{% endif %}
{% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block _user_register_profile_gender_widget %}
{% spaceless %}
<div class="input-prepend input-append">
    <div class="add-on">{{ form_widget(form['0']) }}</div>
    {{ form_label(form['0'],'form.register.gender.male',{label_attr:{class:'btn label-male'}}) }}
    {{ form_label(form['1'],'form.register.gender.female',{label_attr:{class:'btn label-female'}}) }}
    <div class="add-on">{{ form_widget(form['1']) }}</div>
</div>
{% endspaceless %}
{% endblock _user_register_profile_gender_widget %}
