{% form_theme form 'PageBundle:Front:register_form_theme.html.twig' %}

<form novalidate id="{{ form.vars.id }}" class="register-form well"
      action="{{ path('register') }}" {{ form_enctype(form) }}
      method="post">
    <h3 class="register-header">{{ 'page.front.first_time'|trans }} {{ 'page.front.join_now'|trans }}</h3>

    {{ form_row(form.email, {label:'form.register.email'|trans,attr:{class:'input-xlarge', autocomplete:'off'}})}}
    {{ form_row(form.plainPassword, {label:'form.register.password'|trans({'%site_name%':site_name}), attr:{class:'input-xlarge'} }) }}
    {{ form_row(form.profile.birthday, {label:'form.register.birthday'|trans}) }}
    {{ form_row(form.name, {label:'form.register.name'|trans, attr:{class:'input-xlarge'} }) }}
    {{ form_row(form.profile.gender, {label:'form.register.gender'|trans}) }}
    {{ form_row(form.profile.city, {label:'form.register.city'|trans, attr:{class:'input-xlarge'} }) }}

    {{ form_rest(form) }}
    {{ form_errors(form) }}

    <button type="submit" class="btn">{{ 'form.register.submit'|trans }}</button>
</form>