{% extends ':Account:layout.html.twig' %}

{% block edit_account %}
    <div class="row">
        <div class="span3">
            {% include ':Account:sidebar.html.twig' %}
        </div>
        <div class="span9">
            <div id="account-info">

                {% include '::flash_messages.html.twig' %}


                <ul class="link-table list-unstyled">
                    <li id="link-name" class="link-row" data-pjax-container="account_edit_name">
                        {% block account_edit_name %}
                            <a class="link-element" href="{{ path('account_edit_name') }}" data-ajax data-loader="#link-name" data-loader-type="overlay">
                                <span class="link-label">Name</span>
                                <span class="link-edit"><span class="glyphicon glyphicon-pencil"></span> <span class="link-edit-text">Edit</span></span>
                                <span class="link-value"><strong>{{ profile.user.name }}</strong></span>
                            </a>
                        {% endblock %}
                    </li>
                    <li id="link-email" class="link-row" data-pjax-container="account_edit_email">
                        {% block account_edit_email %}
                            <a class="link-element" href="{{ path('account_edit_email') }}" data-ajax data-loader="#link-email" data-loader-type="overlay">
                                <span class="link-label">Email</span>
                                <span class="link-edit"><span class="glyphicon glyphicon-pencil"></span> <span class="link-edit-text">Edit</span></span>
                                <span class="link-value"><strong>{{ profile.user.email }}</strong></span>
                            </a>
                        {% endblock %}
                    </li>
                    <li id="link-password" class="link-row" data-pjax-container="account_edit_password">
                        {% block account_edit_password %}
                            <a class="link-element" href="{{ path('account_edit_password') }}" data-ajax data-loader="#link-password" data-loader-type="overlay">
                                <span class="link-label">Password</span>
                                <span class="link-edit"><span class="glyphicon glyphicon-pencil"></span> <span class="link-edit-text">Edit</span></span>
                            <span class="link-value">
                                {% if profile.user.password is empty %}
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                    <strong>Warning:</strong> password is not set.
                                {% else %}
                                    Password is set.
                                {% endif %}
                            </span>
                            </a>
                        {% endblock %}
                    </li>
                    <li id="link-locale" class="link-row" data-pjax-container="account_edit_locale">
                        {% block account_edit_locale %}
                            <a class="link-element" href="{{ path('account_edit_locale') }}" data-ajax data-loader="#link-locale" data-loader-type="overlay">
                                <span class="link-label">Language</span>
                                <span class="link-edit"><i class="glyphicon glyphicon-pencil"></i> <span class="link-edit-text">Edit</span></span>
                            <span class="link-value">
                                {% if profile.user.locale is empty %}
                                    Locale is <strong>not</strong> set.
                                {% else %}
                                    {{ locale_name(profile.user.locale, profile.user.locale) }}
                                {% endif %}
                            </span>
                            </a>
                        {% endblock %}
                    </li>

                </ul>

            </div>
        </div>
    </div>
{% endblock %}
