{% set route = app.request.attributes.get('_route') %}
<ul class="nav nav-list nav-chevron">
    <li class="{{ route == 'account_overview' ? 'active' : '' }}"><a href="{{ path('account_overview') }}" data-ajax data-loader="#account-info" data-loader-type="overlay"><span class="glyphicon glyphicon-chevron-right"></span>General</a></li>
    <li class="{{ route == 'account_edit_name' ? 'active' : '' }}"><a href="{{ path('account_edit_name') }}" data-ajax data-loader="#account-info" data-loader-type="overlay"><span class="glyphicon glyphicon-chevron-right"></span>Change name</a></li>
    <li class="{{ route == 'account_edit_email' ? 'active' : '' }}"><a href="{{ path('account_edit_email') }}" data-ajax data-loader="#account-info" data-loader-type="overlay"><span class="glyphicon glyphicon-chevron-right"></span>Change e-mail address</a></li>
    <li class="{{ route == 'account_edit_password' ? 'active' : '' }}"><a href="{{ path('account_edit_password') }}" data-ajax data-loader="#account-info" data-loader-type="overlay"><span class="glyphicon glyphicon-chevron-right"></span>{{ profile.user.password is empty ? 'Set your password'|trans : 'Update your password'|trans }}</a></li>
    <li class="{{ route == 'account_edit_picture' ? 'active' : '' }}"><a href="{{ path('account_edit_picture') }}" data-ajax data-loader="#account-info" data-loader-type="overlay"><span class="glyphicon glyphicon-chevron-right"></span>{{ profile.picture is empty ? 'Set your profile picture' : 'Change profile picture'|trans }}</a></li>
</ul>
