{% extends '::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block javascript_header %}
{{ parent() }}
<script type="text/javascript">
    App.settings.nodejs = {
        secure:false,
        host:'{{ nodejs.host }}',
        port:{{ nodejs.port }},
        connectTimeout:{{ nodejs.connectTimeout }},
        authToken:'',
        contentTokens:''
    };
</script>
<script type="text/javascript" src="//{{ nodejs.host }}:{{ nodejs.port }}/socket.io/socket.io.js"></script>
<script type="text/javascript" src="{{ asset('bundles/nodejs/js/nodejs.js') }}"></script>
{% endblock %}

{% block body %}
<a href="{{ path('logout', {_csrf_token:csrf_token('logout')}) }}">Logout</a>
{% endblock %}