<form id="{{ form.vars.id }}" novalidate action="{{ path('account_edit_password') }}" {{ form_enctype(form) }} method="post" data-ajax>

    {{ form_errors(form) }}

    {% if form.currentPassword is defined %}
    {{ form_row(form.currentPassword) }}
    {% endif %}

    {{ form_row(form.plainPassword) }}

    {{ form_rest(form) }}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Update password</button>
        <a class="btn" href="{{ path('account_overview') }}" data-ajax>Cancel</a>
    </div>
</form>