<form novalidate id="{{ form.vars.id }}" action="{{ path('account_edit_picture') }}" method="post" {{ form_enctype(form) }} data-ajax data-modal class="modal-form">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>{{ 'form.user_picture.title'|trans }}</h3>
    </div>

    <div class="modal-body">

        {% include 'PageBundle::flash_messages.html.twig' with {'messages':app.session.flashbag.all()} %}

        {% if form.binaryContent.vars.errors %}
        <div class="alert alert-error">
            <ul class="alert-messages">
                {% for error in form.binaryContent.vars.errors %}
                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if user.picture %}
        <p>
            Your current picture:
        </p>

        <p>
            {% thumbnail user.picture, 'profile' with {title:''} %}
        </p>

        <p>
            <a href="{{ path('delete_user_picture', {'token':csrf_token('delete_user_picture')}) }}" data-ajax class="btn btn-mini btn-danger">Delete this picture</a>
        </p>
        {% else %}
        <p>
            Add a picture so {{ site_name }} members can see who you are!

        </p>
        {% endif %}

        <div id="{{ form.binaryContent.vars.id }}-container">
            {{ form_widget(form.binaryContent, {attr:{style:'display:none'}}) }}
            <div class="input-append">
                <input id="{{ form.binaryContent.vars.id }}-text" class="input-large" type="text" readonly="readonly">
                <button type="button" id="{{ form.binaryContent.vars.id }}-button" class="btn">{% if user.picture %}Browse for a new picture{% else %}Browse for picture{% endif %}</button>
            </div>
            <script>
                $(function () {
                    if (window.userPictureFormBinded !== true) {
                        window.userPictureFormBinded = true;
                        var $context = $('body');
                        $context.on('click', '#{{ form.binaryContent.vars.id }}-button', function () {
                            $('input#{{ form.binaryContent.vars.id }}', $context).click()
                        });
                        $context.on('change', 'input#{{ form.binaryContent.vars.id }}', function () {
                            $('#{{ form.binaryContent.vars.id }}-text').val($(this).val());
                            $(this.form).submit();
                        });
                    }
                });
            </script>
        </div>

        {% if user.picture is empty %}
        <div class="alert alert-info">
            <i class="icon-exclamation-sign"></i> Please note that you - and only you - must be clearly visible. Your age and gender need to match your profile photo. It must <strong>not</strong> contain any nudity.
        </div>
        {% endif %}

        {{ form_rest(form) }}
    </div>

    <div class="modal-footer">
        {% if user.picture %}
        <button type="button" class="btn btn-success" data-dismiss="modal">Yep, that's me!</button>
        <button type="submit" class="btn btn-primary" data-loading-text="Uploading your new picture...">Upload new
            picture
        </button>
        {% else %}
        <button type="button" class="btn" data-dismiss="modal">I'll do it later</button>
        <button type="submit" class="btn btn-primary" data-loading-text="Uploading your picture...">Upload picture
        </button>
        {% endif %}
    </div>

</form>
