<form novalidate id="{{ form.vars.id }}" action="{{ path('account_edit_picture') }}" method="post" {{ form_enctype(form) }} data-ajax>

    {{ form_errors(form) }}

    {% if user.picture %}
    <p>
        Your current picture:
    </p>

    <p>
        {% thumbnail user.picture, 'profile' with {title:''} %}
    </p>

    {% else %}
    <p>
        Add a picture so {{ site_name }} members can see who you are!

    </p>
    {% endif %}

    <div id="{{ form.binaryContent.vars.id }}-container" class="control-group{% if form.binaryContent.vars.errors|length %} error{% endif %}">
        <div class="controls">
            {{ form_widget(form.binaryContent, {attr:{style:'display:none'}}) }}
            <div class="input-append">
                <input id="{{ form.binaryContent.vars.id }}-text" class="input-large" type="text" readonly="readonly">
                <button type="button" id="{{ form.binaryContent.vars.id }}-button" class="btn">{% if user.picture %}Browse for a new picture{% else %}Browse for picture{% endif %}</button>
            </div>
        </div>
        <script>
            $(function () {
                if (window.userPictureFormBinded !== true) {
                    window.userPictureFormBinded = true;
                    var $context = $('body');
                    $context.on('click', '#{{ form.binaryContent.vars.id }}-button', function () {
                        $('input#{{ form.binaryContent.vars.id }}', $context).click()
                    });
                    $context.on('change', 'input#{{ form.binaryContent.vars.id }}', function () {
                        $('#{{ form.binaryContent.vars.id }}-text').val($(this).val());
                        $(this.form).submit();
                    });
                }
            });
        </script>
        {{ form_errors(form.binaryContent) }}
    </div>


    {% if user.picture is empty %}
    <div class="alert alert-info">
        <i class="icon-exclamation-sign"></i> Please note that you - and only you - must be clearly visible. Your age and gender need to match your profile photo. It must <strong>not</strong> contain any nudity.
    </div>
    {% endif %}

    {{ form_rest(form) }}

    <div class="form-actions">
        {% if user.picture %}
        <button type="submit" class="btn btn-primary" data-loading-text="Uploading your new picture...">Upload new picture</button>
        <a href="{{ path('account_delete_picture', {'token':csrf_token('account_delete_picture')}) }}" data-ajax class="btn btn-danger">Delete this picture</a>
        {% else %}
        <button type="submit" class="btn btn-primary" data-loading-text="Uploading your picture...">Upload picture</button>
        {% endif %}
        <a class="btn" data-ajax href="{{ path('account_overview') }}">Cancel</a>
    </div>

</form>
