{% form_theme form 'UserBundle:Form:register_form_theme.html.twig' %}

<form id="{{ form.vars.id }}" class="register-form"
      action="{{ path('register') }}" {{ form_enctype(form) }}
      method="post" data-ajax>

    {{ form_row(form.email, {attr:{class:'input-xlarge', autocomplete:'off'}})}}
    {{ form_row(form.plainPassword, {attr:{class:'input-xlarge'} }) }}
    {{ form_row(form.profile.birthday, {}) }}
    {{ form_row(form.name, {attr:{class:'input-xlarge'} }) }}
    {{ form_row(form.profile.gender, {}) }}
    {{ form_row(form.profile.city, {attr:{class:'input-xlarge'} }) }}

    {{ form_rest(form) }}

    <button type="submit" class="btn">{{ 'form.register.submit'|trans }}</button>
</form>