{% form_theme form 'PageBundle:Front:register_form_theme.html.twig' %}

<div>

    <form novalidate id="{{ form.vars.id }}" action="{{ path('register') }}" {{ form_enctype(form) }} method="post" class="clearfix" data-ajax="register">
        <dl>
            <dt>{{ form_label(form.email,'form.register.email'|trans) }}</dt>
            <dd class="email">{{ form_widget(form.email, {attr:{class:'text', autocomplete:'on'}}) }}
                {{ form_errors(form.email) }}</dd>
            <dt>{{ form_label(form.plainPassword, 'form.register.password'|trans({'%site_name%':site_name})) }}</dt>
            <dd class="password">{{ form_widget(form.plainPassword, {attr:{class:'text', autocomplete:'off'}}) }}
                {{ form_errors(form.plainPassword) }}</dd>
            <dt>{{ form_label(form.profile.birthday, 'form.register.birthday'|trans) }}</dt>
            <dd class="birthday">{{ form_widget(form.profile.birthday) }}
                {{ form_errors(form.profile.birthday) }}</dd>
            <dt>{{ form_label(form.name, 'form.register.name'|trans) }}</dt>
            <dd class="name">{{ form_widget(form.name, {attr:{class:'text'}}) }}
                {{ form_errors(form.name) }}</dd>
            <dt>{{ form_label(form.profile.gender, 'form.register.gender.label'|trans) }}</dt>
            <dd class="gender">{{ form_widget(form.profile.gender['0']) }}{{ form_label(form.profile.gender['0'], 'form.register.gender.male'|trans, {label_attr:{class:'male'}}) }}{{ form_widget(form.profile.gender['1']) }}{{ form_label(form.profile.gender['1'], 'form.register.gender.female'|trans, {label_attr:{class:'female'}}) }}
                {{ form_errors(form.profile.gender) }}</dd>
            <dt>{{ form_label(form.profile.city.fullName, 'form.register.city.label'|trans ) }}</dt>
            <dd class="city">{{ form_widget(form.profile.city, {attr:{class:'text',placeholder:'form.register.city.placeholder'|trans,'data-country-code':geoip.country_code,'data-country-name':geoip.country_name,'data-continent-code':geoip.continent_code,'data-language':lunetics_getLocaleLanguage()}}) }}
                {{ form_errors(form.profile.city) }}</dd>
        </dl>
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        <button type="submit">{{ 'form.register.submit'|trans }}</button>
    </form>

</div>