{% if app.request.isXmlHttpRequest %}
<form id="{{ form.vars.id }}" action="{{ path('upload_picture') }}" method="post" {{ form_enctype(form) }} data-ajax
      class="modal-form">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>{{ 'form.user_picture.title'|trans }}</h3>
    </div>

    <div class="modal-body">
        {% if user.picture %}
        <p class="description">
            Your current picture
        </p>
        {% thumbnail user.picture, 'medium' with {title:''} %}
        {% else %}
        <p class="description">
            Add a picture so {{ site_name }} members can see who you are!
        </p>
        {% endif %}

        {{ form_rest(form) }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>

</form>
{% endif %}